*aux
*log
*toc
documentation/conceptual_design_review/codr.pdf
documentation/conceptual_design_review/codr.synctex.gz
documentation/conceptual_design_review/codr.pdf
*.pdf
documentation/conceptual_design_review/codr.pdf
documentation/conceptual_design_review/codr.pdf
documentation/conceptual_design_review/codr.pdf
documentation/conceptual_design_review/codr.pdf
*.pdf
